
    <footer class="bg-blue-950 text-white py-12">

        <div class="footer-container">

            <!-- Columna 1 -->
            <div class="footer-item">
                img/logo.png

                <p>
                    Instituto de Educación Superior
                    Público "Huanta"
                </p>
            </div>

            <!-- Columna 2 -->
            <div class="footer-item">
                <h3>Facebook</h3>

                #
                    Facebook
                </a>
            </div>

            <!-- Columna 3 -->
            <div class="footer-item">
                <h3>Información</h3>

                <p>📍 Jr. Córdoba N° 650</p>

                <p>📞 Teléfono: (066) 322296</p>
            </div>

            <!-- Columna 4 -->
            <div class="footer-item">
                <h3>Horario de atención</h3>

                <p>
                    Lun - Vie:
                    7:30 am - 1:15 pm
                </p>
   
            </div>

        </div>


    </footer>