<footer class="bg-[#04061f] text-white pt-16 pb-8">
    <div class="max-w-6xl mx-auto px-6 grid grid-cols-1 md:grid-cols-4 gap-10">

        <!-- Columna 1: Logo -->
        <div class="space-y-5">
            ./assets/img/logo.png
            <p class="text-gray-400 text-sm leading-7">
                Instituto de Educación Superior<br>
                Público “Huanta”
            </p>
        </div>

        <!-- Columna 2: Facebook -->
        <div>
            <h3 class="text-2xl font-bold">Facebook</h3>
            <div class="w-8 h-0.5 bg-blue-500 mt-2 mb-6"></div>

            <a href="#" target="_blank"icons/facebook.svg
            </a>
        </div>

        <!-- Columna 3: Información -->
        <div>
            <h3 class="text-2xl font-bold">Información</h3>
            <div class="w-8 h-0.5 bg-blue-500 mt-2 mb-6"></div>

            <div class="space-y-4 text-sm text-gray-400">
                <p class="flex items-center gap-3">
                    ./assets/icons/ubicacion.svg
                    <span>Jr. Córdova N° 650</span>
                </p>

                <p class="flex items-center gap-3">
                    <img src="./assetsefono.svg
                    <span>Teléfono: (066) 322296</span>
                </p>
            </div>
        </div>

        <!-- Columna 4: Horario de atención -->
        <div>
            <h3 class="text-2xl font-bold">Horario de atención</h3>
            <div class="w-8 h-0.5 bg-blue-500 mt-2 mb-6"></div>

            <p class="text-sm text-gray-400">
                Lun – Vier: 7:30 am – 1:15 pm
            </p>
        </div>

    </div>

    <!-- Derechos de Autor -->
    <div class="max-w-6xl mx-auto px-6 mt-16