<footer class="bg-blue-950 text-white py-12">
    <div class="footer-container">

        <!-- Columna 1 -->
        <div class="footer-item">
            <img src="./assets/img/logo.png" alt="Logo IESP Huanta">
            <p>
                Instituto de Educación Superior
                Público "Huanta"
            </p>
        </div>

        <!-- Columna 2 -->
        <div class="footer-item">
            <h3>Facebook</h3>
            <a href="#" target="_blank">
                Facebook
            </a>
        </div>

        <!-- Columna 3 -->
        <div class="footer-item">
            <h3>Información</h3>
            <p>📍 Jr. Córdoba N° 650</p>
            <p>📞 Teléfono: (066) 322296</p>
        </div>

        <!-- Columna 4 -->
        <div class="footer-item">
            <h3>Horario de atención</h3>
            <p>Lunes a Viernes: 8:00 am - 4:00 pm</p>
        </div>

    </div>
</footer>