<nav class="bg-white">

    <ul class="flex justify-center gap-10 font-semibold text-slate-800">

        <li class="relative group">
            #
            Nosotros ▼
            </a>

            <ul class="hidden group-hover:block absolute bg-white shadow-lg w-64">

                <li>
                    <a href="">#Presentación</a>
                </li>

                <li>
                    #
                    Organización Institucional
                    </a>
                </li>

                <li>
                    #
                    Plana Jerárquica
                    </a>
                </li>

                <li>
                    #
                    Plana Docente
                    </a>
                </li>

                <li>
                    #
                    Local
                    </a>
                </li>

            </ul>

        </li>

        <li>
            #
            Programas de Estudio ▼
            </a>
        </li>

        <li>
            #
            Admisión y Matrícula ▼
            </a>
        </li>

        <li>
            #
            Transparencia ▼
            </a>
        </li>

        <li>
            #
            Trámite ▼
            </a>
        </li>

        <li>
            #
            Contáctanos
            </a>
        </li>

        <li>
            #
            Servicios ▼
            </a>
        </li>

        <li>
            #
            Otras páginas ▼
            </a>
        </li>

    </ul>

</nav>